.header {
  width: 932px;
  margin:0 auto;
  position: relative;
  z-index: 1;

  .title {
    font-size: 30px;
    font-family: Helvetica, Arial, sans-serif;
    color: white;
    font-weight: normal;
    text-align: right;
    margin-right: 1px;
    margin-bottom: 10px;
  }
  
  .user_detail {
    float: left;
    margin-left: 159px;
    margin-top: 22px;
  }
}

.login_status {
  padding-left: 15px;
  position: relative;
  cursor: pointer;

  &:before{
    content: '';
    width: 2px;
    height: 12px;
    position: absolute;
    top: 2px;
    left: 1px;
  }
}